<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883245059416-kenh50esoi1c4hikmttucvjbrsbv5dds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883245059416-kenh50esoi1c4hikmttucvjbrsbv5dds</string>
	<key>API_KEY</key>
	<string>AIzaSyBdVOSaDa7QS2kfmfEOO4bmOZkucLIsZvM</string>
	<key>GCM_SENDER_ID</key>
	<string>883245059416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tdc.edu.vn.IOSSocialMedia</string>
	<key>PROJECT_ID</key>
	<string>ios-project-basic</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-basic.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883245059416:ios:5f85897c62cc6dc92f292d</string>
	<key>DATABASE_URL</key>
	<string>https://ios-project-basic-default-rtdb.firebaseio.com</string>
</dict>
</plist>